
.chat-message-user {
  display: flex;
  justify-content: end;
  /* align to left */
  align-items: start;
}

.chat-message-bot {
  display: flex;
  justify-content: left;
  align-items: start;
}

.chat-message-text {
  background-color: aqua;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
}
.chat-message-date{
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
}
