
/* clicked component */
.clicked-container {
  height: 400px;
  background-color: rgb(222, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked-container button {
  background-color: rgb(25, 135, 84);
  color: white;
  margin: 2px 5px;
  padding: 5px 10px;
  border: none;

}